[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
beautifulsoup4 = "*"
pylint = "*"
notebook = "*"

[packages]
mecab-python3 = "*"
gensim = "*"
pandas = "*"
falcon = "*"
gunicorn = "*"
msgpack = "*"

[requires]
python_version = "3.11"
